*{padding: 0;margin:0;}

.main-bax{
    width: 1200px;
    height: 1000px;
    background-color:gray;
    margin: auto;
}
.header{
    width: 1200px;
    height: 150px;
    background-color:darkcyan;
}
.branding{
    width: 400px;
    height: 150px;
    background-color:lightcoral;
    float: left;
}
.branding>img{
    width: 400px;
    height: 150px;
}

.socialmedia{
    width: 800px;
    height: 100px;
    background-color:white;
    float: left;
    }

.socialmedia>img{
 height: 70px;
 width: 100px;
 margin-top: 10px;
 text-align: center;
 margin-left: 80px;
 
}
    
  .menu {
      width: 800px;
      height: 50px;
      background-color:rgb(138, 8, 8);
      float: left;
      font-size: large;
      font-weight:bold;
      }  
      
  .menu ul li{
      float: left;
      list-style: none;
      display: block;
      height:40px ;
      width:190px ;
      background-color: white;
      margin-left: 10px;
      margin-top: 5px;
      text-align: center;
      line-height: 40px;
    } 

  .menu ul li:hover{
      background-color: black;

  }
  .menu ul li a{
      text-decoration: none;
    }  
    
.container{
    width: 1200px;
    height: 800px;
    background-color: palevioletred;
}

.gallary{
    width: 1200px;
    height: 400px;
    background-color: rgb(131, 184, 131);
    overflow: scroll;
}

.gallary img{
    height: 400px;
    width: 1200px;
}
.courses{
    width: 1200px;
    height: 300px;
    background-color: lightseagreen;
}
.courses img{
    width: 300px;
    height: 400px;
}

.bootcamp{
    width: 300px;
    height:400px;
    background-color: aquamarine;
    float: left;
}


 .cloudcomputing{
    width: 300px;
    height: 400px;
    background-color: blueviolet;
    float: left;
}



.datascience{
    width: 300px;
    height: 400px;
    background-color: cornsilk;
    float: left;
}

.systemdesign{
    width: 300px;
    height: 400px;
    background-color:lightcoral;
    float: left;
}


.footer{ 
    width: 1200px;
    height: 50px;
    background-color: rgb(121, 145, 145);
}
.footer h3{
    text-align: center;
}